.page-container {
  width: 45vw;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 10;
  background-color: #160040;
  height: 100%;
  top: 0;
  right: 0;
  color: white;
  animation: contact-us-load 600ms ease-out 1.5s;
  transform: translateX(105%);
  animation-fill-mode: forwards;
}

.close-btn {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  z-index: 12;
  position: absolute;
  top: 40px;
  right: 43vw;
  background-color: white;
}
.close-btn:hover {
  cursor: pointer;
}

.title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.4rem;
  text-align: center;
  margin-top: 50px;
}
.input-section {
  margin-top: 10px;
}
.form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: 40px;
  margin-top: 15px;
}
.label {
  font-size: 12px;
  font-weight: 300;
}
.input {
  border: none;
  outline: none;
  height: 50px;
  border-radius: 10px;
  margin-top: 5px;
  padding: 0px 20px;
}

.cta {
  margin-top: 50px;
}
.btn {
  height: 50px;
  width: 150px;
  margin-left: 40px;
  background-color: #2d31fa;
  color: white;
  border: none;
  border-radius: 30px;
}

.move-out {
  animation: close 600ms ease-in 500ms;
  transform: translateX(0);
  animation-fill-mode: forwards;
}

@keyframes contact-us-load {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes close {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
